/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;
    color: #111;
    line-height: 1.6;
    background: #fff;

}


/* NAVBAR */

.navbar {

    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background: white;

}

.logo {

    font-weight: 600;
    font-size: 18px;

}

.nav-links {

    display: flex;
    gap: 25px;
    list-style: none;

}

.nav-links a {

    text-decoration: none;
    color: #333;
    font-size: 14px;

}

.nav-links a:hover {

    color: black;
    font-weight: 500;

}



/* HERO */

.hero {

    padding: 80px 10%;
    max-width: 800px;

}

.hero h1 {

    font-size: 40px;
    margin-bottom: 10px;

}

.hero h2 {

    font-size: 18px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;

}

.hero p {

    margin-bottom: 20px;
    color: #444;

}

.hero-buttons {

    display: flex;
    gap: 15px;

}



/* BUTTON */

.btn {

    padding: 10px 18px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.btn-outline {

    padding: 10px 18px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;

}

.btn:hover {

    opacity: 0.8;

}


/* SECTIONS */

.section {

    padding: 60px 10%;
    max-width: 800px;

}

.section h2 {

    margin-bottom: 20px;
    font-size: 26px;

}



/* SKILLS GRID */

.skills-grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}



/* CARDS */

.card {

    margin-bottom: 20px;

}

.card h3 {

    font-size: 18px;

}

.card span {

    font-size: 14px;
    color: #666;

}



/* FOOTER */

footer {

    padding: 40px 10%;
    border-top: 1px solid #eee;
    margin-top: 50px;

}
